.topnav{
    width: 980px;
}
/*头部*/
.header{width:980px; margin:0 auto; overflow:hidden;}
.header .logo{ width: 289px; height: 49px; margin-top: 25px;}
.header .logo a{display: block; width: 100%; height: 100%; background: url(../images/cart_logo.png) no-repeat;}
.header .logo a h1{text-indent: -1000px;}


/*订单状态栏*/
.state_bar{clear:both;width:980px; height:47px; margin:20px auto 0; color:#6f6f6f; background:#efefef; position:relative;}
.state_bar ul li{font-size:14px; line-height:47px; text-align:center;}
.state_bar ul li i{display:inline-block; width:22px; height:22px; font-style:normal; line-height:22px;font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; background:url(..//images/icon2.png) no-repeat 0 0; margin-right:8px;}

.state_bar li:nth-child(1){ position:absolute; left:0; top:0; background:url(..//images/side_bar.png) no-repeat; width:333px; height:47px; color:#fff;}
.state_bar li:nth-child(2){ position:absolute; left:327px; top:0;  width:333px; height:47px;}
.state_bar li:nth-child(3){ position:absolute; right:0; top:0; width:330px; height:47px;}

.state_bar ul .on i{color:#f35305;}

/*购物车内容*/
.order_table{
    clear:both;
    width:980px; 
    margin:20px auto 0;
}

.order_table_th{
    width:978px; 
    height:48px;
    border:1px solid #e6e4e3;
    border-bottom: 0 none;
    line-height:48px; 
    background:#fafafa; 
    position:relative;
}

.order_table_th div{
    float: left; 
    height:100%; 
    text-align:center;
}

.order_table_th .th_info{
    width: 390px;
}

.order_table_th .th_price{
    width: 147px;
}

.order_table_th .th_amount{
    width: 105px;
}

.order_table_th .th_sum{
    width: 110px;
}

.order_table_th .th_fare{
    width: 115px;
}

.order_table_th .th_handle{
    width: 110px;
}

.order_table_tb{
    border:1px solid #e6e4e3;
    border-top:none; 
}

.order_table_tb .order_table_tr{ 
    width:978px; 
    height:110px; 
    border-top:1px solid #e6e4e3;
}

.order_table_tb .order_table_tr div{
    float: left;
}

.order_table_tr .item{
    height: 110px;
    text-align: center;
    line-height: 110px;
}

.order_table_tr .tr_info{
    width:390px;  
    overflow:hidden;
}

.order_table_tr .tr_info .tr_info_img{ 
    width: 70px; 
    height: 70px; 
    margin: 20px;
    overflow: hidden;
    border: 1px solid #e6e4e3; 
}
.order_table_tr .tr_info .tr_info_msg{
    width: 190px;
    margin-top: 37px;
    font-size: 14px;
    text-align: left;
    line-height: 16px;
}
.order_table_tr .tr_info .tr_info_img img{
    display: block;
    width: 100%;
    height: 100%;
}

.order_table_tr .tr_price{
    width: 147px;
}

.order_table_tr .tr_amount{
    width: 105px;
}

.order_table_tr .tr_sum{
    width: 110px;
}

.order_table_tr .tr_fare{
    width: 115px;
}

.order_table_tr .tr_dell{
    width: 110px;
}

/*结算栏*/
.order_table_ft{
   clear: both;
}

.ft_total{
    height: 66px;
    font-size: 16px;
    line-height: 66px;
    text-align: right;
}

.ft_total strong{
    font-size: 22px;
    color: #f35305;
    font-weight: normal;
}

.ft_btn{
    float: right;
}

.ft_btn a{
    display: inline-block;
    width: 114px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.keep_shopping{
    background: #f35305;
}

.pay{
    background: #fd5115;
    margin-left: 15px;
}

/*猜你喜欢*/
/*promo*/
.promo{
    position: relative; 
    overflow: hidden;
}

.promo .promo-main{
    position: absolute; 
    top: 0; 
    left: 0;
}

.promo .promo-main .promo-panel{
    float: left;
}

.promo .promo-main .promo-panel img{ 
    max-width: 100%; 
    max-width: 100%;
}

.promo .promo-extra .promo-nav{
    position: absolute; 
    z-index: 10; 
    bottom: 15px; 
    left:50%; 
    margin-left: -38px; 
    height: 13px; 
    text-align: center; 
    font-size: 0;
}

.promo .promo-extra .promo-nav .promo-item{
    display: inline-block; 
    width: 13px; 
    height: 13px; 
    margin: 0 3px; 
    background: #B7B7B7;
    border-radius: 50%; 
    cursor: pointer;
}

.promo .promo-extra .promo-nav .promo-select{
    background: #f35305; 
}

.promo .promo-extra .promo-page{
    display: none;
}

.promo .promo-extra .promo-page a{ 
    position: absolute; 
    top: 50%;
    margin-top: -30px; 
    width: 30px; 
    height: 60px;
    line-height: 60px;
    text-align: center; 
    background-color: rgba(0,0,0,.3); 
    color: #fff;
    font-size: 22px; 
    font-family: "simsun";
    font-weight: bold;
    transition: all  0.3s;
}

.promo .promo-extra .promo-page a:hover{
    background-color: rgba(0,0,0,.5);
}

.promo .promo-extra .promo-prev{
    left: 0; 
}

.promo .promo-extra .promo-next{
    right: 0;
}

.guess_like{
    clear:both; 
    width:980px; 
    height:312px; 
    margin: 17px auto 0; 
    color:#556270; 
    font-size:14px;
    overflow: hidden;
}

.guess_like h2{
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-indent: 10px;
    background: #f8f8f8;
}

.guess_like h2 a{
    color: #555;
}
.guess_like .wrap{
    width:980px; 
    height:215px; 
}

.guess_like .wrap .guess_item{ 
    float:left; 
    width:228px; 
    margin:10px 20px 0 0;
    border:1px solid #ececec; 
    overflow:hidden;
}

.guess_like .wrap .item_last{
    margin-right: 0;
}

.guess_like .wrap .guess_item dt{
    width:228px;
    height: 120px;
    margin-bottom: 15px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.guess_like .wrap .guess_item img{
    max-width: 100%;
    max-height: 100%;
}

.guess_like .wrap .guess_item a:hover img{
    -webkit-transition: opacity 0.2s; 
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; 
    opacity: 0.8; 
    filter: alpha(opacity=80);
}

.guess_like .wrap .guess_item a:hover dd{
    -webkit-transition: color 0.2s; 
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; 
    color: #333;
}

.guess_like .wrap .guess_item dd{ 
    width: 176px;
    margin: 5px auto;
    font-size: 12px;
    line-height: 16px;
    color: #525252;
}

.guess_like .wrap .guess_item dd .guess_item_price{
    margin-right: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #f35305;
}

.guess_item_sales{
    font-size: 12px;
}



/*安全保障*/
.safe{ 
    clear:both;
    width:100%; 
    height:130px; 
    background:#f4f4f4;
    min-width:1200px;
}

.safe .wrap{
    width:1200px; 
    margin:0 auto;
}

.safe .wrap li{
    width:200px;
    float:left; 
    margin-top:38px; 
    text-align:center; 
}


/*页尾*/
.footer{
    clear:both; 
    width:1200px; 
    height:167px; 
    margin:0 auto;
}

.footer ul{
    float:left;
    margin-left:130px;
    padding-top:37px;
    line-height:22px;
}

.footer ul li a:before{
    content: ""; 
    display: inline-block; 
    width: 3px; 
    height:3px; 
    background: #757575; 
    margin-right:10px; 
    vertical-align:4px;
}

.footer ul h3{
    font-size:16px; 
    font-weight:normal; 
    line-height:30px; 
}

.footer .contact{
    float:right;
}

.footer dl{
    text-align:center; 
    display:inline-block; 
    margin-top:28px;
}

.footer dl:first-of-type{
    margin-left:120px; 
    margin-right:-4px; 
    vertical-align:1px; 
    line-height:30px;
}

/*底部属性*/
.bottom{ 
    clear:both; 
    width:100%; 
    margin: 20px 0 110px 0; 
    min-width:1200px; 
    height:117px; 
    text-align:center; 
    line-height:24px;
}

.bottom p span{
    margin:0 5px;
}

.bottom p img{
    margin-top:15px;
}


/*侧栏－联系方式*/
.elevator{
    width:54px; 
    position:fixed; 
    right:15px; 
    bottom:100px;
}

.elevator a {
    display: block;
    width: 54px;
    height: 54px;
    color: #787d82;
    text-align: center;
    line-height: 54px;
    border: 1px solid #ececec;
    background: #fff;
}

.elevator a:hover{
    color: #f35305;
}

.elevator .iconfont{
    font-size: 25px;
}

.elevator .elevator-msg .iconfont:before{ content: "\e603" }
.elevator .elevator-weibo .iconfont:before{ content: "\e601" }
.elevator .elevator-weixin .iconfont:before{ content: "\e600" }
.elevator .elevator-top .iconfont:before{ content: "\e602" }

.elevator .elevator-weixin{
    position: relative;
}

.elevator .elevator-weixin-box{
    position: absolute;
    top: 0;
    right: 60px;
    width: 105px;
    height: 105px;
    background: url(../images/weixin.jpg) no-repeat center center #fff;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,0.2);
    display: none;
}